/* Nav Bar */
.topnav {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding-top: 0;
  background-color: rgb(24, 24, 26);
  z-index: 1;
}

.nav-item {
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 18px;
}

.nav-logo {
  position: fixed;
  top: -10px;
  left: 0;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 35px;
}

.topnav a:hover {
  color: rgb(170, 173, 179);
  cursor: pointer;
}

h1 {
  color: black;
  padding: 0.8rem 0 1.5rem 3rem;
  margin: 0;
}

/* Body */
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 249, 252);
  color: #black;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Header Image */
.header {
  background-image: url(/img/Massage\ 2.jpg);
  width: 100vw;
  height: 80vh;
  background-size: cover;
  position: relative;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 0 -160px;
  margin: 0;
  margin-top: 54px;
  -moz-box-shadow: inset 0 -10px 70px 10px #000000;
  -webkit-box-shadow: inset 0 -10px 70px 10px #000000;
  box-shadow: inset 0 -10px 70px 10px #000000;
}

.header-quote {
  font-family: "Philosopher", sans-serif;
  margin-top: 5rem;
  font-size: 40px;
  color: white;
  text-align: center;
}

/* Packages & Services */
.services-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.service-image {
  border-radius: 15px;
  max-width: 500px;
  max-height: 300px;
}
